@use 'sass:map';
@use 'styles/colors.scss';

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;

  border-radius: 6px;

  background: colors.$green;
  color: colors.$white;

  max-width: 250px;
}
