@use 'styles/colors.scss';
@use 'styles/typography.scss';
@use 'styles/breakpoints.scss';

.carousel-slide-container {
  display: grid;
  place-items: center;

  z-index: 2;
}

.arrow-styles {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: colors.$secondary;
  border: 1px solid colors.$secondary;
  border-radius: 50%;

  position: absolute;
  z-index: 2;
  top: calc(50% - 15px);

  width: 30;
  height: 30;

  padding: 0.5rem;

  cursor: pointer;
}
