@use 'styles/colors.scss';

/* BUTTONS STYLES */

.btn-primary {
  background: colors.$primary;
  border: 2px solid colors.$primary;
  color: colors.$white;
}

.btn-secondary {
  background: colors.$secondary;
  border: 2px solid colors.$secondary;
  color: colors.$white;
}
