@use 'sass:map';
@use 'styles/colors.scss';
@use 'styles/typography.scss';
@use 'styles/breakpoints.scss';

.landing-page-container {
  display: grid;

  width: 100%;
  height: 100%;

  min-height: 100vh;

  @include breakpoints.and-up(md) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.product-container-img {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  background-color: #f3c4ac;
  background-image: url('../../assets/left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  img {
    object-fit: cover;
    max-width: 600px;
  }
}

.description-container {
  padding: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

  margin-bottom: 2rem;

  & > div {
    font-size: map.get(typography.$sizes, 'b3');
    font-weight: map.get(typography.$weights, 'b3');

    span {
      color: colors.$primary;
    }
  }
}

.description-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  & > p {
    font-size: map.get(typography.$sizes, 'b4');
    font-weight: map.get(typography.$weights, 'b4');
  }

  & > ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1rem;
    font-size: map.get(typography.$sizes, 'b1');
    font-weight: map.get(typography.$weights, 'b1');

    > li {
      margin-left: 2rem;
    }
  }
}

.manuals-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;

  & > p {
    font-size: map.get(typography.$sizes, 'b4');
    font-weight: map.get(typography.$weights, 'b4');
  }

  & > div {
    display: grid;
    gap: 1rem;
    width: 100%;

    @include breakpoints.and-up(lg) {
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    }
  }
}

.shopping-container {
  display: grid;
  gap: 1rem;

  @include breakpoints.and-up(md) {
    max-width: 20rem;
  }
}
